<center><h1><%= @adult.name %></h1>
            <% @adult.skills.each do |skill| %>
            <% description = @adult.adult_skills.find_by(skill_id: skill.id).skill_description %>
            <%= skill.name %> 
              <% unless description.blank? %>
              - <%= description %>
              <% end %>
              <br>

            <% end %>  

