<center><h1>Our Scouts</h1>
  <br>
        
        <div class="chefs padd">
          <div class="container">
            <!-- Default Heading -->
            <div class="default-heading">
              <!-- Crown image -->
              <img class="img-responsive" src="img/crown.png" alt="" />
              <!-- Heading -->
              <!-- Paragraph -->
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row">


              <% @users.each do |user| %>
              <div class="col-md-4 col-sm-4">
                <!-- Chef Member -->
                <div class="chefs-member">
                  <!-- Chefs member header -->
                  <div class="chefs-head">
                    <!-- Member background image -->
                    <img class="chefs-back img-responsive" src="img/chef/c-back2.jpg" alt="" />
                    <!-- chef member image -->
                    <img class="chefs-img img-responsive" src="img/chef/4.jpg" alt="" />
                  </div>
                  <!--Name / Heading -->
                  <h3><%= link_to user.name, user_show_path(@troop, user)%></h3>
                  <!-- Member designation -->
                  <span><%= link_to user.role, user_show_path(@troop, user)%></span>
                  <!-- Social media links -->
                </div>
              </div>
              <% end %>


          </div>
        </div>
        
        <!-- Chefs End -->