<center><h1>Troop Members</h1>
<% @scouts.each do |scout| %>

<br><%= link_to scout.name, scout_show_path(@troop, scout)%>
</br>

<%end%>
<br/>
<br/>
<%= link_to 'Add A Scout!', new_troop_scout_path %>