<%=render partial: 'layouts/banner', locals: {:name => "Meeting Planner", :left_option => "Events", :right_option => "Events" }%>

<h1>New Troop Meeting Planner</h1>
<%= render 'form' %>
<%= link_to 'Back', troops_path %>