<%=render partial: 'layouts/banner', locals: {:name => "Meeting Planner", :left_option => "Organize your troop meeting", :right_option => "Share itinerary with co-leaders" }%>

<body>
    <!-- if we want to be really snazzy we should change the word "company" to "troop" here and in the css file -->
<p id="pdf_link"><%= link_to "Download Agenda (PDF)", agenda_show_path(@agenda, :format => "pdf") %></p>
<%= render partial: 'agenda' %>
