@media only screen and (max-width: 660px) {
table[class="w0"], td[class="w0"] {
    width: 0 !important;
}
table[class="w10"], td[class="w10"], img[class="w10"] {
    width: 10px !important;
}
table[class="w15"], td[class="w15"], img[class="w15"] {
    width: 5px !important;
}
table[class="w30"], td[class="w30"], img[class="w30"] {
    width: 10px !important;
}
table[class="w60"], td[class="w60"], img[class="w60"] {
    width: 10px !important;
}
table[class="w125"], td[class="w125"], img[class="w125"] {
    width: 80px !important;
}
table[class="w130"], td[class="w130"], img[class="w130"] {
    width: 55px !important;
}
table[class="w140"], td[class="w140"], img[class="w140"] {
    width: 90px !important;
}
table[class="w160"], td[class="w160"], img[class="w160"] {
    width: 180px !important;
}
table[class="w170"], td[class="w170"], img[class="w170"] {
    width: 100px !important;
}
table[class="w180"], td[class="w180"], img[class="w180"] {
    width: 80px !important;
}
table[class="w195"], td[class="w195"], img[class="w195"] {
    width: 80px !important;
}
table[class="w220"], td[class="w220"], img[class="w220"] {
    width: 80px !important;
}
table[class="w240"], td[class="w240"], img[class="w240"] {
    width: 180px !important;
}
table[class="w255"], td[class="w255"], img[class="w255"] {
    width: 185px !important;
}
table[class="w275"], td[class="w275"], img[class="w275"] {
    width: 135px !important;
}
table[class="w280"], td[class="w280"], img[class="w280"] {
    width: 135px !important;
}
table[class="w300"], td[class="w300"], img[class="w300"] {
    width: 140px !important;
}
table[class="w325"], td[class="w325"], img[class="w325"] {
    width: 95px !important;
}
table[class="w360"], td[class="w360"], img[class="w360"] {
    width: 140px !important;
}
table[class="w410"], td[class="w410"], img[class="w410"] {
    width: 180px !important;
}
table[class="w470"], td[class="w470"], img[class="w470"] {
    width: 200px !important;
}
table[class="w580"], td[class="w580"], img[class="w580"] {
    width: 280px !important;
}
table[class="w640"], td[class="w640"], img[class="w640"] {
    width: 300px !important;
}
table[class*="hide"], td[class*="hide"], img[class*="hide"], p[class*="hide"], span[class*="hide"] {
    display: none !important;
}
table[class="h0"], td[class="h0"] {
    height: 0 !important;
}
p[class="footer-content-left"] {
    text-align: center !important;
}
#headline p {
    font-size: 30px !important;
}
.article-content, #left-sidebar {
}
.header-content, .footer-content-left {
}
img {
    height: auto;
    line-height: 100%;
}
}
#outlook a {
    padding: 0;
}
body {
    width: 100% !important;
}
.ReadMsgBody {
    width: 100%;
}
.ExternalClass {
    display: block !important;
    width: 100%;
}
body {
    background-color: #ECECEC;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    outline: medium none;
    text-decoration: none;
}
br, strong br, b br, em br, i br {
    line-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 100% !important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #0000FF !important;
}
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
    color: #FF0000 !important;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #800080 !important;
}
table td, table tr {
    border-collapse: collapse;
}
.yshortcuts, .yshortcuts a, .yshortcuts a:link, .yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: medium none !important;
    color: #000000;
    text-decoration: none !important;
}
code {
    white-space: normal;
    word-break: break-all;
}
#background-table {
    background-color: #ECECEC;
}
#top-bar {
    background-color: #9245D1;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
}
#top-bar a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
#footer {
    border-radius: 0 0 6px 6px;
}
body, td {
    font-family: HelveticaNeue,sans-serif;
}
.header-content, .footer-content-left, .footer-content-right {
}
.header-content {
    color: #FFFFFF;
    font-size: 12px;
}
.header-content a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
#headline p {
    color: #FFFFFF;
    font-family: HelveticaNeue,sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}
#headline p a {
    color: #FFFFFF;
    text-decoration: none;
}
#left-sidebar .toc-item {
    color: #2CC74B;
    font-family: HelveticaNeue,sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6px;
    margin-top: 0;
}
#left-sidebar .toc-item a {
    color: #2CC74B;
    text-decoration: none;
}
#left-sidebar .toc-heading {
    color: #9A9661;
    font-family: HelveticaNeue,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
}
#left-sidebar .toc-heading a {
    color: #9A9661;
    text-decoration: none;
}
#left-sidebar .left-column-heading {
    color: #BA1BC2;
    font-family: HelveticaNeue,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
}
#left-sidebar .left-column-heading a {
    color: #BA1BC2;
    text-decoration: none;
}
#left-sidebar .left-column-subhead {
    color: #1B8DC2;
    font-family: HelveticaNeue,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 16px;
    margin-top: 0;
}
#left-sidebar .left-column-subhead a {
    color: #1B8DC2;
    text-decoration: none;
}
#left-sidebar .left-column-content {
    color: #000000;
    font-family: HelveticaNeue,sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    margin-top: 0;
}
#left-sidebar .left-column-content a {
    color: #2CC74B;
    text-decoration: none;
}
.article-title {
    color: #1B8DC2;
    font-family: HelveticaNeue,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 0;
}
.article-title a {
    color: #1B8DC2;
    text-decoration: none;
}
.article-title.with-meta {
    margin-bottom: 0;
}
.article-meta {
    color: #CCCCCC;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 0;
}
.article-content {
    color: #444444;
    font-family: HelveticaNeue,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 18px;
    margin-top: 0;
}
.article-content a {
    color: #2CC74B;
    font-weight: bold;
    text-decoration: none;
}
.article-content img {
    max-width: 100%;
}
.article-content ol, .article-content ul {
    margin-bottom: 18px;
    margin-left: 19px;
    margin-top: 0;
    padding: 0;
}
.article-content li {
    color: #444444;
    font-size: 13px;
    line-height: 18px;
}
.article-content li a {
    color: #2CC74B;
    text-decoration: underline;
}
.article-content p {
    margin-bottom: 15px;
}
.footer-content-left {
    color: #E2E2E2;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
    margin-top: 0;
}
.footer-content-left a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.footer-content-right {
    color: #E2E2E2;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 15px;
    margin-top: 0;
}
.footer-content-right a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
#footer {
    background-color: #E874D1;
    color: #E2E2E2;
}
#footer a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
#permission-reminder {
    white-space: normal;
}
#street-address {
    color: #FFFFFF;
    white-space: normal;
}