<%=render partial: 'layouts/banner', locals: {:name => "Troop Hub", :left_option => "Stuff", :right_option => "Things" }%>
<br/>
<br/>

<p>
    Some paragraph about the girl scouts
</p>
<p>
    A calendar of all girl scout stuffs. or maybe recent photos
</p>


<br>
<br>
<br>
<br>
<br>
<br>
<center>
<a href="https://twitter.com/intent/tweet?button_hashtag=TroopHub&text=Easily%20organize%20your%20girl%20scout%20troop%20with%20Troop%20Hub!%20%20Search%20activities%2C%20plan%20meetings%2C%20share%20photos%2C%20etc." class="twitter-hashtag-button" data-related="flatironschool" data-url="http://troop-hub.herokuapp.com">Tweet #TroopHub</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></center>