<%=render partial: 'layouts/banner', locals: {:name => "Troop Hub", :left_option => "Stuff", :right_option => "Things" }%>
<br/>
<br/>

<p>
    Some paragraph about the girl scouts
</p>
<p>
    A calendar of all girl scout stuffs. or maybe recent photos
</p>