<%=render partial: 'layouts/banner', locals: {:name => "Troop Hub", :left_option => "Stuff", :right_option => "Things" }%>
<br/>
<br/>

<p>
    Some paragraph about the girl scouts
</p>
<p>
    A calendar of all girl scout stuffs. or maybe recent photos
</p>



Home Page
Nav Bar
Make logo
logo on right navbar left of it
change styling of banner
add site info to banner (or right below)
middle news feed
Search for Activity - sidebar right
Search for Troop (index) - sidebar right
twitter feed - sidebar left

footer - about us, contact us, random social media logos

calendar?
remove weird line about banner