<%=render partial: 'layouts/banner', locals: {:name => "Troop Hub", :left_option => "TBD", :right_option => "TBD" }%>

<br/>
<br/>
<h1>Welcome to Troop Hub!</h1><h2>The hub for all your troop needs</h2>

<p>
    Some paragraph about the girl scouts
</p>
<p>
    A calendar of all girl scout stuffs. or maybe recent photos
</p>