<br/>
<br/>
<html>
<body>
<center><h1>Troops</h1>
<% @troops.each do |troop| %>

<br><%= link_to troop.name, troop_show_path(troop)%>
<br>
<%end%>
<br>
<br>
<%= link_to 'Add Your Troop!', troops_new_path %>
</body>
</html>