<head>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
</head>

<div class = "banner padd"><div class = "container"><br/> <%= image_tag "gs2-white.png"%><h2 class = "white"><%= name %></h2>
 
 <ol class = "breadcrumb">
  <h5><b><li><%=left_option%></li></b></h5>
<h5><b><li><%=right_option%> </li></b></h5>
</ol>


</div>
</div>

<br/>
