
<div class = "banner padd"><div class = "container"> <%= image_tag "crown-white.png"%><h2 class = "white"><%= name %></h2>
 
 <ol class = "breadcrumb">
  <li><%=left_option%></li>
<li><%=right_option%> </li>
</ol>


</div>
</div>

<br/>