<% if controller_name != 'sessions' %>
        <!-- Footer Start -->
      
      <div class="footer padd">
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Logo area -->
                <div class="logo">
                  <img class="img-responsive" src="/assets/transparent_logo.png" alt="" />
                  <!-- Heading -->
                  <h1>About Us</h1>
                </div>
                <!-- Paragraph -->
                <p>We are 4 female students studing web development at the Flatiron School in New York, NY.  Click on our pictures to find out more about us!</p>
                <hr />
                <!-- Heading -->
                <h6>Alisha, Emma, Miriam, and Stephanie</h6>
                <!-- Images -->
                <a href="https://github.com/abmcdubb"><img class="payment img-responsive profile-pics" src="http://students.flatironschool.com/img/students/profile2.jpg" alt="" height=45 width=45/></a>
                <a href="https://github.com/emmaife"><img class="payment img-responsive profile-pics" src="http://students.flatironschool.com/img/students/emmaife.jpg" alt="" height=45 width=45/></a>
                <a href="https://github.com/Msea"><img class="payment img-responsive profile-pics" src="http://students.flatironschool.com/img/students/thing.jpg" alt="" height='45' width='45'/></a>
                <a href="https://github.com/ChavaLovesFyedka"><img class="payment img-responsive profile-pics" src="http://s28.postimg.org/httfmihr1/pic1.jpg" alt="" height='45' width='45'/></a>
               
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>The Girl Scouts On Instagram</h4>
                <!-- Images -->
              <!-- SnapWidget -->
              <iframe src="http://snapwidget.com/in/?u=Z2lybHNjb3V0c3xpbnwyNTB8MXwxfHx5ZXN8NXxub25lfG9uU3RhcnR8eWVz&v=16414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:265px; height:265px"></iframe>
              </div> <!--/ Footer widget end -->
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Join Us Today</h4>
                <!-- Paragraph -->
                <p>There is no one who loves pain itself, who seeks after it and wants to have it.</p>
                <!-- Subscribe form -->
                <form role="form">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your name" />
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="email" placeholder="Your email" />
                  </div>
                  <button class="btn btn-danger" type="button">Subscribe</button>
                </form>
              </div> <!--/ Footer widget end -->
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Footer widget -->
              <div class="footer-widget">
                <!-- Heading -->
                <h4>Contact Us</h4>
                <div class="contact-details">
                  <!-- Address / Icon -->
                  <i class="fa fa-map-marker br-red"></i> <span>#768, 5th floor, N S Building,<br />Csm Block, Park Road,<br /> Bangalore - 234567</span>
                  <div class="clearfix"></div>
                  <!-- Contact Number / Icon -->
                  <i class="fa fa-phone br-green"></i> <span>+91 88-88-888888</span>
                  <div class="clearfix"></div>
                  <!-- Email / Icon -->
                  <i class="fa fa-envelope-o br-lblue"></i> <span><a href="#">abc@example.com</a></span>
                  <div class="clearfix"></div>
                </div>
                <!-- Social media icon -->
                <div class="social">
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
              </div> <!--/ Footer widget end -->
            </div>
          </div>
          <!-- Copyright -->
          <div class="footer-copyright">
            <!-- Paragraph -->
            <p>&copy; Copyright 2014 <a href="#">Company Name</a></p>
          </div>
        </div>
      </div>
      
      <!-- Footer End -->
      <% end %>