<!-- Scouts Sign Up Form--> 
                    <!-- Form label -->
                    <label class="form_label_font scouts-form">Grade</label><br>
                    <!-- Form drop down -->
                    <select name="user[grade]" class="form-control-update scouts-form">
                        <option value="Kindergarten">Kindergarten</option>
                        <option value="1st">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        <option value="11th">11th</option>
                        <option value="12th">12th</option>
                  </select>
                  </div>
                  <!-- Form label -->
                  <label class="form_label_font scouts-form">Birthday</label>
       
                  <!-- Form input -->
                  <%= f.date_field :birthday, :value => Time.now.strftime("%Y-%m-%d"), :class => "scouts-form form-control-update scouts-form"  %>
             
                  <!-- Form label -->
                  <label class="form_label_font scouts-form">Patches Earned</label>
                  <div class="form-group scouts-form">
                  <!-- Form input -->
                  <%#= f.text_area :badges, :class => "form-control", :rows => 5 %>
                 <!--  maybe add this in? https://www.girlscouts.org/program/basics/for_volunteers/insignia/list/ -->
                  </div>
                